#sidenav {
    height: 100%;
    background-color: #1E4D2B;
}

#root {
    background-color: #1E4D2B;
    color: white;
}

#header {
    text-align: center;
    border-radius: 0px;
    background-color: #1E4D2B;
    border-color: #1E4D2B;
    color: white;
}

#topLogo {
    text-align: center;
}

#titleEntry {
    width: 30%;
}

#mainContent {
    padding-top: 100px;
}

#sidenav {
    padding-left: 5%;
}

#planButton {
    margin-top: 10px;
}